# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.development
.env.staging
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Supabase
supabase/.temp/
supabase/functions/.import_map.json

# OS files
.DS_Store
Thumbs.db

# Temporary scratch files
scratch/
